#dashboard-internal-token {
  display: none;
}
ol.dashboard-item-list {
  margin: 0;
  padding: 0;
}
.plate-style {
  background-color: white;
  border: 1px solid #dcdcdc;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.input-style {
  border: medium none;
  outline: medium none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.placeholder-text-style {
  color: #c4c4c4;
  font-weight: bold;
  pointer-events: none;
}
.image-style {
  background-size: cover;
  background-position: center;
}
.child-profile-plate {
  background-color: white;
  border: 1px solid #dcdcdc;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 100%;
}
.profile-header {
  margin: 15px;
}
.profile-age {
  text-align: right;
}
.profile-image {
  background-size: cover;
  background-position: center;
  height: 200px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-radius: 5px;
  margin: 0 5px;
}
.profile-comment {
  margin: 15px;
}
.dashboard-plate {
  background-color: white;
  border: 1px solid #dcdcdc;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  min-width: 600px !important;
}
.dashboard-frame {
  margin: 15px 30px 0;
  height: 300px;
}
.dashboard-header {
  border-bottom: 1px solid #d3d3d3;
}
.dashboard-content {
  margin: 15px 0;
}
.dashboard-detail-profile {
  width: 50%;
  height: 100%;
  display: inline-block;
}
.key-value {
  width: 100%;
  margin-bottom: 10px;
}
.profile-key {
  width: 20%;
  display: inline-block;
  text-align: left;
}
.profile-value {
  width: 80%;
  display: inline-block;
  text-align: left;
}
.dashboard-image {
  width: 50%;
  height: 200px;
  display: inline-block;
  float: right;
  text-align: left;
}
.current-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
.no-image {
  margin-top: 30px;
}
.dashboard-motion-frame {
  margin: 15px 30px 0;
  height: 300px;
}
.dashboard-motion-list {
  width: 35%;
  display: inline-block;
}
.dashboard-motion-chart {
  width: 65%;
  display: inline-block;
  float: right;
  text-align: left;
}
.chart-container {
  width: 100%;
}
.motion-key {
  width: 35%;
  display: inline-block;
  text-align: left;
}
.motion-value {
  width: 65%;
  display: inline-block;
  text-align: left;
}
.dashboard-lang-frame {
  margin: 15px 30px 0;
  height: 330px;
}
.pos-key {
  width: 25%;
  display: inline-block;
  text-align: left;
}
.separator {
  width: 5%;
  display: inline-block;
  text-align: left;
}
.pos-value {
  width: 70%;
  margin: 0;
  padding-left: 10px;
  display: inline-block;
  text-align: left;
  cursor: pointer;
  text-decoration: underline;
}
.pos-mean {
  padding-left: 5px;
  display: inline-block;
  text-align: left;
  display: none;
}
.dashboard-pos-list {
  width: 25%;
  display: inline-block;
}
.dashboard-lang-chart {
  width: 75%;
  display: inline-block;
  float: right;
  text-align: left;
}
p.show-all {
  cursor: pointer;
  text-decoration: underline;
  margin-top: 20px;
}
p.show-mean {
  cursor: pointer;
  text-decoration: underline;
  margin-top: 20px;
}
div.additional {
  display: none;
}
div.narrow {
  margin-bottom: 2px;
}
.backward-arrow {
  display: inline-block;
  text-align: left;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
  float: left;
  cursor: pointer;
}
.forward-arrow {
  display: inline-block;
  text-align: left;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
  float: right;
  cursor: pointer;
}
#google-timeline-chart {
  height: 250px;
}
#google-line-chart {
  height: 250px;
}
