{% extends "base.html" %}

{% load staticfiles %}

{% block header-menu %}
<ul class="nav navbar-nav">
	<li><a class="active-menu" href="/dashboard/">ダッシュボード</a></li>
	<li><a href="/timeline/">タイムライン</a></li>
</ul>
{% endblock header-menu %}

{% block load-libs-head %}
<link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
{% endblock load-libs-head %}

{% block body-start %}
<body ng-app="DashboardApp" ng-controller="DashboardController">
{% endblock body-start %}

{% block content %}
<div id="login-container">
	<div class="container">
		<div class="row">
			<div class="col-xs-1">
			</div>
			<div class="col-xs-8">
        <div class="dashboard-plate">
          <ol class="dashboard-item-list">
            <li>
              <div class="dashboard-frame">
                <div class="dashboard-header">
									<h2>{{ active_child.name}}</h2>
								</div>
								<div class="dashboard-content">
                  <div class="dashboard-detail-profile">
                    <p class="key-value"><span class="profile-key">生年月日</span><span class="profile-value">：{{ active_child.formatted_birth }} ({{ active_child.detail_age}})</span></p>
										<p class="key-value"><span class="profile-key">性別</span><span class="profile-value">：{{ active_child.sex}}</span></p>
										<p class="key-value"><span class="profile-key">身長</span><span class="profile-value">：73cm</span></p>
										<p class="key-value"><span class="profile-key">体重</span><span class="profile-value">：14kg</span></p>
                  </div>
									<div class="dashboard-image">
										最近の写真
										{% if current_image %}
                  	<div class="current-image" style="background-image: url(media/{{ current_image }})">
                  	</div>
										{% else %}
										<p class="no-image">まだ写真がありません</p>
										{% endif %}
									</div>
                </div>
								<div class="dashboard-footer">
									<p>{{ photo.footer }}</p>
								</div>
              </div>
						</li>
						<li>
							<div class="dashboard-lang-frame">
                <div class="dashboard-header">
									<h2>言語能力</h2>
								</div>
								<div class="dashboard-content">
                  <div class="dashboard-pos-list">
										<div class="key-value required"><span class="pos-key">名詞</span><span class="separator">：</span><p class="pos-value" ng-click="openWordListModal('n')"><span class="pos-mine">{{ lang.n }}</span><span class="pos-mean">({{ lang_mean.n }})</span></p></div>
										<div class="key-value required"><span class="pos-key">動詞</span><span class="separator">：</span><p class="pos-value"><span ng-click="openWordListModal('v')"><span class="pos-mine">{{ lang.v }}</span><span class="pos-mean">({{ lang_mean.v }})</span></p></div>
										<div class="key-value required"><span class="pos-key">形容詞</span><span class="separator">：</span><p class="pos-value"><span ng-click="openWordListModal('adj')"><span class="pos-mine">{{ lang.adj }}</span><span class="pos-mean">({{ lang_mean.adj }})</span></p></div>
										<div class="key-value required"><span class="pos-key">副詞</span><span class="separator">：</span><p class="pos-value"><span ng-click="openWordListModal('adv')"><span class="pos-mine">{{ lang.adv }}</span><span class="pos-mean">({{ lang_mean.adv }})</span></p></div>
										<div class="key-value required"><span class="pos-key">感動詞</span><span class="separator">：</span><p class="pos-value"><span ng-click="openWordListModal('im')"><span class="pos-mine">{{ lang.im }}</span><span class="pos-mean">({{ lang_mean.im }})</span></p></div>
										<div class="key-value narrow additional"><span class="pos-key">助詞</span><span class="separator">：</span><p class="pos-value"><span ng-click="openWordListModal('j')"><span class="pos-mine">{{ lang.j }}</span><span class="pos-mean">({{ lang_mean.j }})</span></p></div>
										<div class="key-value narrow additional"><span class="pos-key">接続詞</span><span class="separator">：</span><p class="pos-value"><span ng-click="openWordListModal('conj')"><span class="pos-mine">{{ lang.conj }}</span><span class="pos-mean">({{ lang_mean.conj }})</span></p></div>
										<div class="key-value narrow additional"><span class="pos-key">助動詞</span><span class="separator">：</span><p class="pos-value"><span ng-click="openWordListModal('auv')"><span class="pos-mine">{{ lang.auv }}</span><span class="pos-mean">({{ lang_mean.auv }})</span></p></div>
										<div class="key-value narrow additional"><span class="pos-key">接頭詞</span><span class="separator">：</span><p class="pos-value"><span ng-click="openWordListModal('p')"><span class="pos-mine">{{ lang.p }}</span><span class="pos-mean">({{ lang_mean.p }})</span></p></div>
										<div class="key-value narrow additional"><span class="pos-key">連体詞</span><span class="separator">：</span><p class="pos-value"><span ng-click="openWordListModal('t')"><span class="pos-mine">{{ lang.t }}</span><span class="pos-mean">({{ lang_mean.t }})</span></p></div>
										<div class="key-value narrow additional"><span class="pos-key">未知語</span><span class="separator">：</span><p class="pos-value"><span ng-click="openWordListModal('unk')"><span class="pos-mine">{{ lang.unk}}</span><span class="pos-mean">({{ lang_mean.adv }})</span></p></div>
										<p class="show-all" ng-click="showAllPos()">全て表示</p>
										<p class="show-mean" ng-click="showMeanPos()">{{ all_child_number }}人の平均を表示</p>
									</div>
									<div class="dashboard-lang-chart">
                  	<div class="chart-container">
											<div id="google-line-chart"></div>
											<div>
												<div class="backward-arrow" ng-click="backwardLangChart()" style="background-image: url('media/icons/arrow004_r.jpg')"></div>
												<div class="forward-arrow" ng-click="forwardLangChart()" style="background-image: url('media/icons/arrow004.jpg')"></div>
											</div>
                  	</div>
									</div>
                </div>
								<div class="dashboard-footer">
								</div>
              </div>
            </li>
						<li>
							<div class="dashboard-motion-frame">
                <div class="dashboard-header">
									<h2>運動能力</h2>
								</div>
								<div class="dashboard-content">
                  <div class="dashboard-motion-list">
                    <div class="key-value"><span class="motion-key">首すわり</span><span class="motion-value">：{{ neck_fix }}</span></div>
										<div class="key-value"><span class="motion-key">寝返り</span><span class="motion-value">：{{ rolling_over }}</span></div>
										<div class="key-value"><span class="motion-key">ひとりすわり</span><span class="motion-value">：{{ sit }}</span></div>
										<div class="key-value"><span class="motion-key">はいはい</span><span class="motion-value">：{{ crawl }}</span></div>
										<div class="key-value"><span class="motion-key">つかまり立ち</span><span class="motion-value">：{{ pullup }}</span></div>
										<div class="key-value"><span class="motion-key">ひとり立ち</span><span class="motion-value">：{{ standup }}</span></div>
										<div class="key-value"><span class="motion-key">二足歩行</span><span class="motion-value">：{{ walk }}</span></div>
                  </div>
									<div class="dashboard-motion-chart">
                  	<div class="chart-container">
											<div id="google-timeline-chart"></div>
                  	</div>
									</div>
                </div>
								<div class="dashboard-motion-footer">
									<p></p>
								</div>
              </div>
            </li>
						<li>
							<div class="dashboard-muscle-frame">
                <div class="dashboard-header">
									<h2>筋力</h2>
								</div>
								<div class="dashboard-content">
                  <div class="dashboard-muscle-list">
										<p class="show-mean" ng-click="showMean()">{{ all_child_number }}人の平均を表示</p>
									</div>
									<div class="dashboard-muscle-chart">
                  	<div class="chart-container">
											<div id="google-muscle-chart"></div>
											<div>
												<div class="backward-arrow" ng-click="backwardLangChart()" style="background-image: url({% static 'icons/arrow004_r.jpg' %}"></div>
												<div class="forward-arrow" ng-click="forwardLangChart()" style="background-image: url({% static 'icons/arrow004.jpg' %}"></div>
											</div>
                  	</div>
									</div>
                </div>
								<div class="dashboard-footer">
									<p>{{ photo.footer }}</p>
								</div>
              </div>
            </li>
          </ol>
        </div>
			</div>
			<div class="col-xs-3">
				{% for child in child_list %}
				<div class="child-profile-plate">
          <div class="child-thumbnail" style="background-image: url('media/{{ child.image }}')"></div>
					<div class="child-brief">
          	<h3 class="profile-comment">{{ child.name}}</h3>
						<p class="profile-age">{{ child.detail_age }}</p>
					</div>
        </div>
				{% endfor %}
				<p id="internal-childid-token">{{ active_child.id }}</p>
			</div>
		</div>
	</div>
</div>

{% verbatim %}
<script type="text/ng-template" id="word-list-modal.html">
	<div class="modal-header">
		<h3 class="modal-title">獲得済みの{{ pos }}</h3>
	</div>
	<div class="modal-body">
		<span ng-repeat="word in words">{{ word.word }}　</span>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="closeModal()">閉じる</button>
	</div>
</script>
{% endverbatim %}

{% endblock content %}

{% block load-libs-foot %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="{% static 'dashboard/js/app.js' %}"></script>
<script src="{% static 'dashboard/js/models/child.js' %}"></script>
<script src="{% static 'dashboard/js/controllers/dashboard-controller.js' %}"></script>


{% endblock load-libs-foot %}
